#header{
    font-family: 'Lato', sans-serif;
    height: 60px;
    width: 100%;
    background-color: #06283D;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header h1{
    margin: 0;
}

body{
    margin: 0;
}

#cotizacion{
    font-family: 'Lato', sans-serif;
    flex: wrap;
    text-align: center;
}
#contenedor{
    max-width: 400px;
    width: 80%;
    margin: 50px auto; /*arriba-abajo, izquierda-derecha*/
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #47B5FF;
    padding: 20px;
}

input{
    font-family: 'Lato', sans-serif;
    margin-top: 2%;
    margin-bottom: 2% ;
    width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	appearance: none;
}

label{
    font-family: 'Lato', sans-serif;
    margin-top: 2%;
    margin-bottom: 2% ;
    font-weight: 600;
}
button{
    font-family: 'Lato', sans-serif;
    margin-top: 2%;
    margin-bottom: 2% ;
    background-color: #256D85;
    border-color: #256D85;
    border-radius: 0.2rem;
    color: white;
    cursor: pointer;
    border-style: solid;
}
button:hover{
    background-color:#47B5FF;
}

select{
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}